{% extends 'base.html.twig' %}

{% block title %}Ajout utilisateur{% endblock %}

{% block body %}
    <h1>Création d'un utilisateur</h1>
{{ form_start(registrationForm) }}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="mb-3 row">
                <div class="col-4">
                    <label for="firstName" class="col-form-label">{{ form_label(registrationForm.firstName) }}</label>
                </div>
                <div class="col-8">
                    {{ form_widget(registrationForm.firstName, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>

            <div class="mb-3 row">
                <div class="col-4">
                    <label for="name" class="col-form-label">{{ form_label(registrationForm.name) }}</label>
                </div>
                <div class="col-8">
                    {{ form_widget(registrationForm.name, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>

            <div class="mb-3 row">
                <div class="col-4">
                    <label for="email" class="col-form-label">{{ form_label(registrationForm.email) }}</label>
                </div>
                <div class="col-8">
                    {{ form_widget(registrationForm.email, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>

            <div class="mb-3 row">
                <div class="col-4">
                    <label for="plainPassword" class="col-form-label">{{ form_label(registrationForm.plainPassword) }}</label>
                </div>
                <div class="col-8">
                    {{ form_widget(registrationForm.plainPassword, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>

            <div class="mb-3 row">
                <div class="col-4">
                    <label for="confirmedPassword" class="col-form-label">{{ form_label(registrationForm.confirmedPassword) }}</label>
                </div>
                <div class="col-8">
                    {{ form_widget(registrationForm.confirmedPassword, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>

            <div class="text-center mt-4">
                <button type="submit" class="btn btn-primary w-50">Créer</button>
            </div>
        </div>
    </div>
</div>
{{ form_end(registrationForm) }}

{% endblock %}
