{% extends 'base.html.twig' %}

{% block title %}Planify - Livraisons{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h2 class="mb-0"><i class="bi bi-box"></i> Liste des livraisons</h2>
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success">{{ message }}</div>
                    {% endfor %}
                    <div class="d-flex gap-2 ms-auto">
                        <a href="{{ path('app_livraison_new') }}" class="btn btn-primary"><i class="bi bi-plus"></i> Ajouter une livraison</a>
                        <a href="{{ path('csv_import') }}" class="btn btn-warning"><i class="bi bi-filetype-csv"></i> Importer un csv</a>
                        <a href="{{ path('app_livraison_delete_history')}}" class="btn btn-danger"><i class="bi bi-trash"></i> Supprimer les livraisons de plus d'un an</a>
                    </div>
                </div>

                <table id="livraisonTable" class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>Numero</th>
                            <th>Adresse</th>
                            <th>Code postal</th>
                            <th>Ville</th>
                            <th>Client</th>
                            <th>Email</th>
                            <th>Telephone</th>
                            <th>Date</th>
                            <th>Creneau</th>
                            <th>Statut</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for livraison in livraisons %}
                            <tr>
                                <td style="white-space: nowrap; width: 1%;">{{ livraison.numero }}</td>
                                <td>{{ livraison.adresse }}</td>
                                <td>{{ livraison.codePostal }}</td>
                                <td>{{ livraison.ville }}</td>
                                <td>{{ livraison.clientNom }} {{ livraison.clientPrenom }}</td>
                                <td>{{ livraison.clientEmail }}</td>
                                <td>{{ livraison.clientTelephone }}</td>
                                <td style="width: auto;">{{ livraison.date ? livraison.date|date('d/m/Y') : '' }}</td>
                                <td>{{ livraison.creneau }}</td>
                                <td>    
                                    {% if livraison.statut == 'En cours' %}
                                        <span class="badge bg-danger text-dark">En cours</span>
                                    {% elseif livraison.statut == 'En attente' %}
                                        <span class="badge bg-warning">En attente</span>
                                    {% elseif livraison.statut == 'Livrée' %}
                                        <span class="badge bg-success">Livrée</span>
                                    {% elseif livraison.statut == 'Programmée' %}
                                        <span class="badge bg-info">Programmée</span>
                                    {% else %}
                                        <span class="badge bg-secondary">Inconnu</span>
                                    {% endif %}
                                </td>
                                <td style="width: 150px;">
                                    {% if livraison.statut == "En attente" %}
                                        <a class ="btn btn-sm btn-warning" href="{{ path('app_livraison_edit', {'id': livraison.id}) }}"><i class="bi bi-pencil"></i></a>
                                        <a class ="btn btn-sm btn-danger" href="{{ path('app_livraison_delete', {'id': livraison.id}) }}"><i class="bi bi-trash"></i></a>
                                    {% else %}
                                        <a class= "btn btn-sm btn-primary" href=""><i class="bi bi-truck"></i></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">Aucune livraison trouvée</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>



<style>
    #tournees-details {
        opacity: 0;
        transform: translateY(-10px);
        filter: blur(5px);
        transition: opacity 0.3s ease-out, transform 0.3s ease-out, filter 0.3s ease-out;
    }

    .show {
        opacity: 1 !important;
        transform: translateY(0) !important;
        filter: blur(0) !important;
    }
</style>
<script>
    $(document).ready(function () {
        $('#livraisonTable').DataTable({
            "order": [[7, "desc"], [8, "asc"]], // Colonne 7 (Date) en décroissant, puis Colonne 8 (Créneau) en croissant
            "paging": true,  // Pagination activée
            "lengthMenu": [5, 10, 25, 50],  // Options de pagination
            "searching": true,  // Recherche activée
            "ordering": true,  // Tri des colonnes activé
            "info": false,  // Affichage des informations (ex: "Affichage de 1 à 10 sur 50 entrées")
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.13.6/i18n/fr-FR.json"  // Traduction en français
            }
        });
    });
</script>





{% endblock %}
